<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh">

<head>
  {% include header.html %}
</head>


  <body id="erpim">
    <div id="head">
      <div id="header-content">
        <!-- <a href="/">
          <img src="/public/img/logo.png" id="erp.im">
        </a> -->
        <div id="about">
          <h1 class="default">Welcome to <a href="http://erp.im">ERP.im</a></h1>
          <h1 class="mobile">Welcome to ERP.im</h1>
          <p style="color: white" class="default">
          <a href="http://news.erp.im" target="_blank">ERP News</a> / <a href="/pages/archives.html">Archives</a> / <a href="/pages/about.html">About</a>
          </p>
        </div>
      </div>
    </div>


  <div id="box">
    <div id="content">
      <div id="pjax">
      {{ content }}
      </div>

      <div id="footer">
        <div id="footer_text">
          &copy; 2013-2014 ERP.im  <a href="/pages/atom.xml" target="_blank">RSS Feed</a> <a href="/pages/archives.html" class="mobile">Archives</a> <a href="/pages/about.html" class="mobile">About</a>
        </div>
      </div>
    </div>
  </div>

  {% include footer.html %}
  {% include googleanalytics.html %}
  </body>
</html>
